<div class="container">
    <h3>Style Binding</h3>
    <dl>
        <dt>Background</dt>
        <dd>
            <select [(ngModel)]="bgStyle">
                <option value="red">Red</option>
                <option value="black">Black</option>
                <option value="green">Green</option>
                <option value="yellow">Yellow</option>
            </select>
        </dd>
        <dt>Text Color</dt>
        <dd>
            <select [(ngModel)]="textStyle">
                <option value="red">Red</option>
                <option value="black">Black</option>
                <option value="white">White</option>
                <option value="yellow">Yellow</option>
            </select>
        </dd>
        <dt>Padding</dt>
        <dd>
            1px <input type="range" [(ngModel)]="padding" min="1" max="50">50px
        </dd>
        <dt>Font</dt>
        <dd>
            1px <input type="range" (change)="FontChange()" [(ngModel)]="fontSize" min="1" max="50">50px
        </dd>
        <dd>
            <button (click)="ApplyStyles()" class="btn btn-primary">Apply</button>
        </dd>
    </dl>
    <div style="height: 400px;" class="container-fluid d-flex justify-content-center align-items-center">
        <h1 [ngStyle]="styleObj">Rahul Kumar</h1>
    </div>
</div>

<div class="container-fluid">
    <h2>Event Binding</h2>
    <button class="btn btn-primary" (click)="SubmitClick($event)" name="submit" id="btnSubmit">Submit</button>
</div>

<button id="x" (click)="Delete($event)">Delete</button>
<button id="y" (click)="Delete($event)">Delete</button>
<button id="z" (click)="Delete($event)">Delete</button>