<div class="container-fluid">
    <h2>Register User</h2>
    <dl>
        <dt>Username</dt>
        <dd><input type="text" (keyup)="VerifyUser($event)" ></dd>
        <dd [ngClass]="{'text-danger':isInvalid,'text-success':true}">{{UserError}}</dd>
        <dt>Password</dt>
        <dd>
            <input type="password" (keypress)="VerifyPassword($event)">
        </dd>
        <dd class="text-warning" *ngIf="isPwdWarnVisible">
            <span class="bi bi-exclamation-triangle-fill"></span>Caps ON
        </dd>
    </dl>
</div>
